@model HomeManagement.Domain.Pumping

@{
    ViewBag.Title = "Delete";
}

@section Header
{
    @Html.ActionLink("Back", "Index")
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Pumping</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Milliliters)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Milliliters)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BreastfeedingAttempt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BreastfeedingAttempt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BreastfeedingComments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BreastfeedingComments)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
    </p>
}
