@model HomeManagement.Domain.Task
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Task</legend>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        Assigned Person</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.Name)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.DateEntered) :
        @Html.DisplayFor(model => model.DateEntered)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.DateAssigned) :
        @Html.DisplayFor(model => model.DateAssigned)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.DateCompleted) :
        @Html.DisplayFor(model => model.DateCompleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
